#city-input, #weather-output {
    max-width: 400px;
    margin: 0 auto;
}
  
.banner {
    color: #43bb28;
    font-family: sans-serif;
}

.btn-dark{
    background-color: #60a451;
    color: #fff;
    width: 400px;
}